<div>
  <button class="fa-solid fa-language" (click)="setPt()"> PT</button>
  <button class="fa-solid fa-language" (click)="setEn()"> EN</button>
  <button class="fa-solid fa-language" (click)="setEs()"> ES</button>
</div>
<h1 class="title animate__animated animate__jackInTheBox">{{ 'title.title' | transloco }}</h1>
<ul class="animate__animated animate__flipInX" *ngIf="mode=='list'">
    <p class="text-center" *ngIf="todos.length == 0"><small>{{'messages.noTaskMessage' | transloco }}</small></p>
  <li *ngFor="let todo of todos">
    {{todo.title}}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__flipInX">
  <h1 class="text-center">{{ 'messages.newTask' | transloco}}</h1>
  <form [formGroup]="form">
    <input
    type="text"
    placeholder="Título da Tarefa"
    maxlength="60"
    formControlName="title">
    <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine" >{{ 'messages.fieldLenght' | transloco}}<br></small>
    <p class="text-center">
      <button class="button" (click)="add()"><i class="far fa-save"></i> {{ 'messages.save' | transloco}}</button>
    </p>
  </form>
  <br><br>
</div>

<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  {{ 'messages.newTask' | transloco}}
</button>

<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-plus-circle"></i>
  {{ 'messages.cancel' | transloco}}
</button>

<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-plus-circle"></i>
  {{ 'messages.cancel' | transloco}}
</button>

